	body{margin:0; padding:0; background:#E7E7E7;font-family:Arial, serif;}
	.startup-pod{width:500px; margin:0 auto 1.3em auto; padding:10px;position:relative;
	background:#FFF;
	-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
background: white;
margin-top: 20px;
padding: 0 0 10px 0;
text-align: center;
position: relative;
cursor: pointer;
}
.startup-pod:hover{
-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 0 2px 7px rgba(0,0,0,0.4);
-ms-box-shadow: 0 2px 7px rgba(0,0,0,0.4);
-o-box-shadow: 0 2px 7px rgba(0,0,0,0.4);
box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);}
.clear{clear:both}